<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
    <link rel="stylesheet" href="Estilos/carrito.css">
 </head>
<body>
  <header>
    <h1>Peumayen</h1>
    <!-- <button id="mostrarModalBtn">Carrito</button> -->
    <div id="miModal" class="modal">
        <div class="modal-contenido">
            <span id="cerrarModal" class="cerrar">&times;</span>
            <!--inicio-->

              
            <div class="form-container" id="survey-form" >
                  <label id="name-label" for="name" class="credential-inputs bold-text">Nombre
                    <input type="text" id="name" class="text-box" name="name" placeholder="Ingrese un nombre y un apellido" required />
                  </label>
                  <label id="email-label" for="email" class="credential-inputs bold-text">Correo Electrónico
                    <input type="email" id="email" class="text-box" name="email" placeholder="Ingrese su dirección de correo electrónico" required />
                  </label>
 

                <button type="submit" id="botonFinalizar" class="submit-btn">Finalizar</button>
              </div>
             
            <!--fin-->
        </div>
    </div>
</header>
<!-- Tabla - Productos del Carrito -->
<div class="tabla-calculo" id="tabla-calculo">
  <table class="tabla">
    <caption><br></caption>
    <!-- <caption class="titulo-tabla">Productos en el carrito</caption> -->
    <thead class="cabecera border-top-right">
      <tr>
        <th class="border-top-left">Nombre Producto</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th class="border-top-right">Precio Total</th>
      </tr>
    </thead>
    <tbody id="carrito-body">

    </tbody>
    <tfoot id="footer">
      <tr><td class="border-bottom-left border-bottom-right" colspan = 4>¡No hay ningun elemento en el carrito!</td></tr>
    </tfoot>
  </table>
</div>
<!-- Template de las filas -->
<template id="agregar-producto-al-carro">
  <tr>
        <td id="producto">Papas Fritas</td>
        <td><button id="menos-cantidad" class="button">-</button><span id="cant">1</span><button id='mas-cantidad' class="button">+</button></td>
        <td class="precio-tabla" id="precio-uni">3.50</td>
        <td class="precio-tabla" id="precio-total-prod">3.50</td>
      </tr>
</template>
<!-- Template del footer de la tabla -->
<template id="tfooter">
  <tr class="none">
    <td colspan = 2 class="border-bottom-left">
      <button id="vaciar-tabla" class="button">Vaciar carrito</button>
      <button id="Comprar" class="button">Finalizar Compra</button>
    </td>
    

    <td class="negrita">Precio Total</td>
    <td id="total-a-pagar" class="precio-tabla border-bottom-right negrita">5.00</td>
  </tr>
</template>

<!-- Aqui se insertan las cards de productos con javascript-->
<div class="contenedor-productos">
  
</div>

<!-- template del producto -->
<template id="template-prod">
  <article class="cartola">
   <!-- Imagen del producto -->
   <div class="contenedor-img">
    <img src="" alt="">
   </div>
   <!-- Nombre y descripción del producto -->
   <div class="div-info">
    <input type="hidden" name="pk_eventos" id="pk_articulo" value="">
     <h2 class="nombre-prod">Nombre Producto</h2>
     <hr class="separador">
     <p class="descripcion-prod">Descripción producto</p>
   </div>
   <!-- Precio y Agregar al carrito -->
   <div class="div-precio-boton">
      <p class="precio">Precio producto</p>
      <button class="boton">Agregar</button>
   </div>
  </article>
</template>

<script>


 



//agregamos los productos al dom
const templateProd = document.getElementById('template-prod').content
const contenedorProd = document.querySelector('.contenedor-productos')
const fragment = document.createDocumentFragment()
let productos = {};
 

// Código para cargar datos desde la API
fetch('../Controllers/ArticulosController.php?consultarArticulos=true')
  .then(response => response.json())
  .then(data => {
    productos = Object.values(data);
    console.log(productos);

    // Llamar a la función para agregar productos al DOM después de cargar los datos
    agregarProductosAlDOM();
  })
  .catch(error => {
    console.error('Error al obtener los datos de eventos:', error);
  });

function agregarProductosAlDOM() {
  // TODO LO RELACIONADO A AGREGAR LOS PRODUCTOS AL DOM
  Object.values(productos).forEach(producto => {
    templateProd.querySelector('.div-info .nombre-prod ').textContent = producto.titulo;
    templateProd.querySelector('.div-precio-boton .precio').textContent = producto.Precio;
    templateProd.querySelector('.div-info .descripcion-prod').textContent = producto.descripcion;
    templateProd.querySelector('.contenedor-img img').setAttribute('alt', producto.titulo);
    templateProd.querySelector('.contenedor-img img').setAttribute('src', producto.img);
    templateProd.querySelector('#pk_articulo').value = producto.pk_articulos;
    const clone = templateProd.cloneNode(true);
    fragment.appendChild(clone);
  });
  contenedorProd.appendChild(fragment);
}




//aca finaliza mostrar items en el dom

// TODO LO RELACIONADO AL CARRITO DE COMPRA
let carrito = {}
const templateTabla = document.getElementById('agregar-producto-al-carro').content
const tbodyCarrito = document.getElementById('carrito-body')
const fragmentTabla = document.createDocumentFragment()
const templateFoot = document.getElementById('tfooter').content
const tfootCarrito = document.getElementById('footer')

contenedorProd.addEventListener('click', e => {
  
//   if(){
//     window.location.href = "login.html";
//   }

  if(e.target.textContent === "Agregar") {
    setCarrito(e.target.parentElement.parentElement)
  }
  e.stopPropagation();
})
const setCarrito = e => {
  const pivoteCarrito = {
    pk_articulo: e.querySelector('.div-info  #pk_articulo').value,
    nombre: e.querySelector('.div-info .nombre-prod').textContent,
    precio: e.querySelector('.div-precio-boton .precio').textContent,
    cantidad: 1
  }
 
 
 

 console.log(carrito)
 
 

  if(carrito.hasOwnProperty(pivoteCarrito.nombre)){
    carrito[pivoteCarrito.nombre].cantidad += 1
  } else {
    carrito[pivoteCarrito.nombre] = {...pivoteCarrito}
  }
  pintarTabla(carrito)
}
 
const pintarTabla = objetoCarrito => {
  Object.values(objetoCarrito).forEach( objeto => {
    const cloneTabla = templateTabla.cloneNode(true)
    cloneTabla.getElementById('producto').textContent = objeto.nombre
    cloneTabla.getElementById('cant').textContent = objeto.cantidad
    cloneTabla.getElementById('precio-uni').textContent = objeto.precio
    let precioTotal = parseFloat(objeto.precio) * objeto.cantidad
    cloneTabla.getElementById('precio-total-prod').textContent = precioTotal.toFixed(2)
    fragmentTabla.appendChild(cloneTabla)
  })
  tbodyCarrito.innerHTML = ''
  tbodyCarrito.appendChild(fragmentTabla)
  pintarFooter()
}
const pintarFooter = () => {
  tfootCarrito.innerHTML = ''
  if(Object.keys(carrito).length === 0) {
    tfootCarrito.innerHTML = '<tr><td colspan = 4>¡No hay ningun elemento en el carrito!</td></tr>'
  } else {
    const total = Object.values(carrito).reduce((acc, {cantidad, precio}) => acc + (cantidad * precio),0)
    templateFoot.getElementById('total-a-pagar').textContent = total.toFixed(2)
    const cloneFoot = templateFoot.cloneNode(true)
    fragment.appendChild(cloneFoot)
    tfootCarrito.appendChild(fragment)
    //Boton Vaciar carrito
    const botonVaciar = document.getElementById('vaciar-tabla')
    botonVaciar.addEventListener('click', () => {
      carrito = {}
      pintarTabla(carrito)
      pintarFooter()
    })

    const botonComprar = document.getElementById('Comprar')
    botonComprar.addEventListener('click', () => {
      miModal.style.display = "block";
    })
    
    
    
    //Botones aumentar y disminuir cantidades
    
  }
}
tbodyCarrito.addEventListener('click', e => {
  
  if(e.target.classList.contains('button')) {
    aumentarDisminuir(e.target)
  }
})
const aumentarDisminuir = boton => {
  if(boton.textContent === '+'){
    const indicador = boton.parentElement.parentElement.firstElementChild.textContent
    Object.values(carrito).forEach( elemento => {
      if(elemento.nombre === indicador) {
      carrito[elemento.nombre].cantidad++  
      }
    })
  }
  if(boton.textContent === '-') {
    const indicador = boton.parentElement.parentElement.firstElementChild.textContent
    Object.values(carrito).forEach( elemento => {
      if(elemento.nombre === indicador) {
      carrito[elemento.nombre].cantidad--
        if(carrito[elemento.nombre].cantidad === 0) {
          delete carrito[elemento.nombre]
        }
      }
    })
  }
  pintarTabla(carrito)
  pintarFooter()
}

const botonFinalizar = document.getElementById('botonFinalizar')
    botonFinalizar.addEventListener('click', () => {

      finalizarCompra(carrito);
      miModal.style.display = "none";
    })

  
  
  
  
  
  
  
  function finalizarCompra(carrito) {
  // Construir un objeto con los datos del carrito
  const datosCompra = {
    carrito: [],
    name: document.getElementById('name').value,
    email: document.getElementById('email').value
  };

  // Llenar el array "carrito" en el objeto con los datos de cada producto
  for (const productoNombre in carrito) {
    if (carrito.hasOwnProperty(productoNombre)) {
      const producto = carrito[productoNombre];
      datosCompra.carrito.push({
        pk_articulo: producto.pk_articulo,
        //nombre: producto.nombre,
        precio: producto.precio,
        cantidad: producto.cantidad
      });
    }
  }

  // Realizar una solicitud POST utilizando fetch
  fetch('http://localhost/Tesis/Tesis/Entradas/Controllers/ArticulosController.php', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(datosCompra)
  })
    .then(response => response.json())
    .then(data => {
      // Manejar la respuesta del servidor si es necesario
      console.log(data);
    })
    .catch(error => {
      console.error('Error al enviar la solicitud POST', error);
    });
}







/*modal*/



const mostrarModalBtn = document.getElementById("mostrarModalBtn");
const miModal = document.getElementById("miModal");
const cerrarModal = document.getElementById("cerrarModal");

mostrarModalBtn.addEventListener("click", function () {
    miModal.style.display = "block";
});

cerrarModal.addEventListener("click", function () {
    miModal.style.display = "none";
});

window.addEventListener("click", function (event) {
    if (event.target === miModal) {
        miModal.style.display = "none";
    }
});


 
 



</script>
</body>
</html>