<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="Estilos/Eventos.css">
</head>
<body>
    <header>
        <div id="titulo">
            <h2>Eventos disponibles</h2>
        </div>
            <div id="sessiones-listado">
        </div>
     </header>

    
 
     <section>
        <div id="eventos-container"></div>
    </section>

    <script>
       function convertirFechaAFormatoDMY(fecha) {
    var partes = fecha.split(" ");
    if (partes.length === 2) {
        var fechaPartes = partes[0].split("-");
        var horaPartes = partes[1].split(":");
        
        if (fechaPartes.length === 3 && horaPartes.length === 3) {
            var anio = fechaPartes[0];
            var mes = fechaPartes[1];
            var dia = fechaPartes[2];
            var hora = horaPartes[0];
            var minutos = horaPartes[1];
            var segundos = horaPartes[2];
            
            return dia + "/" + mes + "/" + anio + " ";
        }
    }
    return fecha;
}
    

    function convertirFechaAFormatoHHmm(fecha) {
    var partes = fecha.split(" ");
    if (partes.length === 2) {
        var fechaPartes = partes[0].split("-");
        var horaPartes = partes[1].split(":");
        
        if (fechaPartes.length === 3 && horaPartes.length === 3) {
            var anio = fechaPartes[0];
            var mes = fechaPartes[1];
            var dia = fechaPartes[2];
            var hora = horaPartes[0];
            var minutos = horaPartes[1];
            var segundos = horaPartes[2];
            
            return  hora + ":" + minutos;
        }
    }
    return fecha;
}

    
        // Hacer una solicitud AJAX para obtener los datos de la tabla eventos
        fetch('../Controllers/eventosControlador.php?consultarEventos=true')
            .then(response => response.json())
            .then(data => {
                // Iterar sobre los datos y generar divs para cada evento
                const eventosContainer = document.getElementById('eventos-container');
                data.forEach(evento => {
                    const divEvento = document.createElement('div');
                    divEvento.className = 'evento';
                    divEvento.innerHTML = `
                        <h2>${evento.titulo}</h2>
                        <p>${evento.descripcion}</p>
                        <p>Fecha de Inicio: ${convertirFechaAFormatoDMY(evento.fecha_inicio)}</p>   
                        <p>Hora de Inicio: ${convertirFechaAFormatoHHmm(evento.fecha_inicio)}</p>  
                        <img src="${evento.img}" alt="Imagen del evento" class="img">
                        `;
                        const fechaActual = new Date();
                        const fechaInicioEvento = new Date(evento.fecha_inicio); // Supongo que "evento.fecha_fin" es la fecha de finalización del evento
                        const fechaFinEvento = new Date(evento.fecha_fin);

                        let botonAInsertar;

                        if (fechaActual > fechaInicioEvento && fechaActual<fechaFinEvento) {
                            divEvento.innerHTML += `
                            <a href="../Controllers/salaController.php?pk_eventos=${evento.pk_eventos}&ingreso=true"><br><br><button type="button" class="btn btn-outline-info reservar-btn" data-pk-eventos="${evento.pk_eventos}">Reservar</button></a>`;                        
                        }else {
                            divEvento.innerHTML += `
                            <br><br><button type="button" class="btn btn-outline-secondary reservar-btn" data-pk-eventos="${evento.pk_eventos}">Reservar</button>`;     
                        }

                    eventosContainer.appendChild(divEvento);
    
                    // Agregar un controlador de eventos al botón "Reservar"
                    const reservarBtn = divEvento.querySelector('.reservar-btn');
                    reservarBtn.addEventListener('click', function() {
                        // Obtener el valor de data-pk-eventos del botón
                        const pkEventos = this.getAttribute('data-pk-eventos');
    
                        // Ahora puedes utilizar pkEventos en tu aplicación, por ejemplo, enviarlo al servidor o realizar alguna otra acción específica
                        console.log('pk_eventos al hacer clic en Reservar:', pkEventos);
                        
                        if (fechaActual <= fechaInicioEvento){
                            alert("Las reservas para este evento comienzan el: "+convertirFechaAFormatoDMY(evento.fecha_inicio) + " a las "+convertirFechaAFormatoHHmm(evento.fecha_inicio)); 
                        }
                        else if(fechaActual >= fechaFinEvento){
                            alert("Las reservas para este evento finalizaron el: "+convertirFechaAFormatoDMY(evento.fecha_fin)+ " a las "+convertirFechaAFormatoHHmm(evento.fecha_fin)); 
                        }
                        
                    });
                });
            })
            .catch(error => {
                console.error('Error al obtener los datos de eventos:', error);
            });

           



    </script>
    
</body>
</html>