*{
    margin: 0;
    padding: 0;
}

header .cabecera{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.principal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    text-align: center;
    margin-top:50px;
     
    
}
.contenedor{
     
    padding: 10px;
    width: 410px;
    max-height: 1100px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    border: 1px solid #ddd;

}

#administrador{
    padding: 10px;
    max-width: 600px;
    max-height: 1100px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    border: 1px solid #ddd;
    margin-top:50px;
 
 }
 
 
 

.eventoPanel p{

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    border: 1px solid #ddd;
    margin: 15px;
    text-align: center;
    padding: 1px;

}
.eventoPanel p button{
    margin: 5px;
    text-align: center;
}
 
.paginacion a{
    margin-left: 50px;
   
}
 
 
 